/build/
.settings
/.venv*
/Debug-PA/
/_build/
/install/
/analysis_results
.vscode
*.log
*tcc_jit*.c
*.disass
*.dis
*.objdump
*.asm
*.signature
*.elf
*.trc
/*.core_desc
/fasterDecoding/
*.ll
/dbt-rise-plugins
/.direnv
/TGC_C_XRB/
/.envrc.eyck
